<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; url=https://persian-minus-sodium-rebate.trycloudflare.com">
    <title>{% block title %}TB RTS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="menu">
        <ul class="nav-links">
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/game">Vào Game</a></li>
            <li><a href="#">Bảng Xếp Hạng</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
    </nav>

    <main class="page">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 - Tebee Empire</p>
    </footer>
</body>
</html>
